<div class="row" style="background-color: rgb(250, 249, 248)">
  <!-- <div class="col-lg-6">
    <h2>Bubble Chart</h2>
    <canvas id="bubchart"></canvas>
  </div> -->
  <!-- <div class="col-lg-6">
    <h2>Scatter Chart</h2>
    <canvas id="scchart"></canvas>
  </div> -->
  <div class="col-md-4 mt-5">
    <h1>Bar Chart</h1>
    <canvas id="barchart"></canvas>
  </div>
  <div class="col-md-4 mt-5">
    <h1>Pie Chart</h1>
    <canvas id="piechart"></canvas>
  </div>
  <div class="col-md-4 mt-5">
    <h1>Doughnut Chart</h1>
    <canvas id="dochart"></canvas>
  </div>
  <div class="col-lg-6 mt-5">
    <h1>polarArea Chart</h1>
    <canvas id="pochart"></canvas>
  </div>

  <div class="col-lg-6">
    <h2>Radar Chart</h2>
    <canvas id="rochart"></canvas>
  </div>
</div>
